<div class="clearfix mt1">
  <div class="col pr1">
    <img src="\{{statusIcon}}" class="icon sm">
    <img src="/img/icon_ftrain.png" class="icon sm">
  </div>
  <div class="col">
    <p class="h2 mt0 pb1 inline"><a href="#transitDetailsModal" rel="modal:open" class="text-decoration-none" style="color: black;">\{{statusString}}</a></p>
    <p class="h7 mt0"><a href="#transitDetailsModal" rel="modal:open" class="text-decoration-none" style="color: SlateGrey;">click for details</a></p>
  </div>
</div>
<div id="transitDetailsModal" style="display: none;">
  \{{{desc}}}
</div>

<!--<p><a href="https://lyft.com/ride?id=lyft&pickup[latitude]=40.678961&pickup[longitude]=-73.993658">Lyft me</a></p>-->