<!doctype html>
<html>
<head>
  <title>Bonjour</title>
  {{{_sections.head}}}
  <link rel="stylesheet" href="css.css">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
  {{{_sections.styles}}}
</head>

<body>
  {{{body}}}
  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
  {{{_sections.jquery}}}
</body>
</html>