{{#section 'head'}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script id="weatherWidgetTemplate" type="text/x-handlebars-template"> {{>weather}} </script>
    <script id="transitWidgetTemplate" type="text/x-handlebars-template"> {{>transit}} </script>
    <script id="calendarWidgetTemplate" type="text/x-handlebars-template"> {{>calendar}} </script>
    <script id="remindersWidgetTemplate" type="text/x-handlebars-template"> {{>reminders}} </script>
{{/section}}


<div class="clearfix" id="container">
    <div class="col col-4" id="left-column">
        <div class="weatherWidget m1">
            <p class="h7 caps mb0">weather</p>
            <div class="loaded"></div>
            <div class="loading"></div>
        </div>
        <div class="transitWidget m1">
            <p class="h7 caps mb0">transit</p>
            <div class="loaded"></div>
            <div class="loading"></div>
        </div>
    </div>
    <div class="col col-4 custom-scrollbar" id="center-column">
        <div class="remindersWidget m1">
            <p class="h7 caps">reminders</p>
            <div class="loaded"></div>
            <div class="loading"></div>
        </div> 
    </div>
    <div class="col col-4 custom-scrollbar" id="right-column">
        <div class="calendarWidget m1">
            <p class="h7 caps">calendar</p>
            <div class="loaded"></div>
            <div class="loading"></div>
        </div>
    </div>
</div>
<div id="page-status"></div>

{{#section 'jquery'}}
<script>
    var widgets = [];
    widgets.push({'name': 'weather', 'template': '#weatherWidgetTemplate'});
    //widgets.push({'name': 'transit', 'template': '#transitWidgetTemplate'});
    widgets.push({'name': 'calendar', 'template': '#calendarWidgetTemplate'});
    widgets.push({'name': 'reminders', 'template': '#remindersWidgetTemplate'});

    $(document).ready(function() {
        $(".loaded").hide();
        updateWidgets(widgets);
        setInterval(updateWidgets, 60 * 5 * 1000);
    });

    function updateWidgets() {
        var widgetTemplate;
        for (var i = 0; i < widgets.length; i++) {
            widgetTemplate = Handlebars.compile($(widgets[i]["template"]).html());
            updateWidget(widgets[i]["name"], widgetTemplate);
        }
    }


    function updateWidget(widget, template) {
        console.log("updating " + widget);
        var widgetClass = "." + widget + "Widget";
        var widgetClassLoaded = widgetClass + " .loaded";
        var widgetClassLoading = widgetClass + " .loading";
        $(widgetClassLoaded).hide();
        $(widgetClassLoading).show();
        retrieveData(widget, function(data) {
            console.log(data);
            $(widgetClassLoaded).html(template(data));
            $(widgetClassLoaded).show();
            $(widgetClassLoading).hide();
            console.log("finished updating " + widget);
        });
    }

    function retrieveData(widget, cb) {
        $.ajax({
            url: widget,
            type: 'GET',
            data: $(this).serialize(), 
            success: function(data) {
                cb(data.data);
            }, 
            error: function() {
                updateStatus("error retrieving " + widget);
            }
        });
    }

    function updateStatus(status) {
        $("#page-status").show().html(status).fadeOut(2000);
    }
</script>
{{/section}}