<div class="clearfix" id="container">
    <div class="col col-4 border" id="left-column">
        {{> weather}}
        {{> transit}}
    </div>
    <div class="col col-4 border" id="center-column">
        Reminders go here
    </div>
    <div class="col col-4 border" id="right-column">
        {{>calendar}}
    </div>
</div>