body {
  font-family: 'Quicksand', sans-serif;
}

p.h1 { 
  font-size: 3rem; 
}

p.h7 {
  font-size: 0.65rem;
  letter-spacing: 1px;
  color: SlateGrey;
}
p.caps {
  text-transform: uppercase;
}

#container {
  width: 1000px;
}

#left-column, #center-column, #right-column {
  height: 600px;
  overflow-y: auto;
}

#left-column {
  border-right: solid 3px #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: SlateGrey;
}

.transitWidget {
  padding-top: 20px;
}

.icon.sm {
  width: 30px;
}


.icon.lg {
  width: 128px;
}

.loading {
  background-image: url('img/loading.gif');
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 24px;
  margin-top: 20px;
}

#page-status {
  position: relative;
  bottom: 40px;
  height: 20px;
  background-color: LightCoral;
  width: 980px;
  padding: 10px;
  display: none;
}