body {
  font-family: 'Quicksand', sans-serif;
}

p.h1 { 
  font-size: 3rem; 
}

p.h7 {
  font-size: 0.65rem;
  letter-spacing: 1px;
  color: SlateGrey;
}
p.caps {
  text-transform: uppercase;
}

#container {
  width: 1000px;
}

#left-column, #center-column, #right-column {
  min-height: 600px;
}

.transitWidget {
  padding-top: 20px;
}

.icon.sm {
  width: 30px;
}


.icon.lg {
  width: 128px;
}

.loading {
  background-image: url('img/loading.gif');
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 24px;
  margin-top: 20px;
}